@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Medium.ttf);
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 320px;
  margin: 0;
  padding: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}





body {
  font-family: "Montserrat";
  background-color: #ffffff;
  min-width: 320px;
  width: 100vw;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
.header_button {
  background-color: #ffffff;
  border: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-burger {
  margin-top: 22px;
  margin-left: 10px;
  position: relative;
  border: 0px;
  background: #6b5af9;
  border-radius: 1px;
  width: 27px;
  height: 4px;  
}

.header-burger::after {
  left: 0%;
  content: "";
  position: absolute;
  top: 14px;
  width: 15px;
  height: 4px;
  background: #6b5af9;
  border-radius: 1px;
  top: 8px;  
}

.header-burger::before {
  left: 0%;
  content: "";
  position: absolute;
  top: -14px;
  width: 41px;
  height: 4px;
  background: #6b5af9;
  border-radius: 1px;
  top: -8px;  
}

.logo-mobile {
  background-image: url(img/logo-mob.svg);
  width: 113.21px;
  height: 35.06px;
  margin-top: 11.98px;
  margin-left: 81px;
  
}
.header-call {
  width: 52px;
  height: 32.5px;
  border-radius: 5px;
  background-color: #6b5af9;
  background-image: url(img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 66.79px;
  margin-top: 16px;
  margin-right: 10px;
}

.content {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
}

.text_header {
/* Разработка интернет-магазинов на 1C-Битрикс */
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* 1 */
color: #2A2367;
margin-left: 10px;
margin-top: 22px;
}

.color_text_header{
  color: #6B5AF9;
  
} 

.background_img{
background-image: url(img/back_ground.png);
position: absolute;
width: 100%;
height: 299px;
margin-top: 10px;
background-repeat: no-repeat;

}

.text_center{
/* Разработаем интернет-магазин за 30 дней с уникальным дизайном и продуманной структурой который выделит вас на фоне конкурентов */

position: absolute;
width: 356px;
height: 45px;
left: 6px;
top: 402px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #2A2367;
}

.color_text_center{
  color:#6B5AF9;
  font-weight: 700;
}

.main_button {
  width: 275px;
  height: 60px;
  background: #6b5af9;
  border-radius: 5px;
  position: absolute;
  border: 0;
  padding: 0;
  left: 42px;
  top: 497px;
}

.color_main_button{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  


}

.text_after_button{
/*оставьте заявку..*/

position: absolute;
width: 340px;
height: 96px;
left: 9px;
top: 566px;
font-family: 'Montserrat';
font-style: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0em;
font-weight: 500;
text-align: center;
}

.text_after_button_color{
  /* 2 */
color: #6B5AF9;
} 
 
.slick-track{
  display: flex;
  position: absolute;
  top: 695px;
  width: 340px;
  height: 200px;
  left: 10px;
  overflow: hidden;

}



.flex_column{
  min-width: 0;

}
.slider{
  min-width:0;
  
}


.box_content{
  position: absolute;
  top: 695px;
  width: 340px;
  height: 200px;
  left: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.number_one {
  /*число 01*/

  width: 69px;
  height: 78px;
  left: 25px;
  top: 697px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 2px;
  margin-left: 15px;
  margin-right: 256px;
}

.text_interfase {
  /* Удобный интерфейс */

  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  margin-top: 1px;
  margin-left: 15px;
  margin-bottom: 18px;

  color: #2a2367;
}

.text_interfase::after {
  content: "";
  position: absolute;
  width: 175px;
  height: 2px;
  background-color: #e37575;
  top: 23px;
  left: 0px;
}

.text_box {
/* Блоковая подача информации, удобные кнопки, карточки товаров, понятное меню и легкая навигация по многостраничному сайту. */

width: 320px;
height: 45px;
left: 25px;
top: 811px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
display: flex;
color : #2A2367;
margin-top: 8px;
margin-left: 15px;
}

.box_content_slide_2{
  position: absolute;
  top: 695px;
  width: 340px;
  height: 200px;
  left: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
